<img src="https://i.ibb.co/sFcTVM4/DALL-E-2023-12-28-17-48-36-Create-a-logo-using-the-simplified-design-featuring-a-sprout-and-an-upwar.png" width="100"/>

---
-  ê°•ì˜ ë° ì¶”ê°€ ìë£Œ ë§í¬
- ê°•ì˜ ë§í¬: [Python ê°•ì˜](#)

-  ì†Œì…œ ë¯¸ë””ì–´ ë° ì—°ë½ì²˜
  - ì €ì SNS: [instagram](https://www.instagram.com/ringo_data/?igsh=MTlrdW4xMzZvNTBtdw%3D%3D), [LinkedIn](https://www.linkedin.com/in/ringokwon/)
  - ì´ë©”ì¼: ringo.data1@gmail.com

---

## Google Drive ì—°ê²°
- [ë…¸ì…˜ í˜ì´ì§€](https://www.notion.so/ringokwon/colab-3f3e5e646a434d7d93490ee5e20d8bb1?pvs=4)

# pd.read_csv(): csv ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
```python
import pandas as pd
df = pd.read_csv('path/file.csv')
```

## pd.read_csv

In [2]:
# iris ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
df = pd.read_csv('./iris.csv')

In [3]:
# dfì´ typeì€ ?
type(df)

pandas.core.frame.DataFrame

# Tabular Data ì™€ Data type

## Tabular Data

<img src="https://i.ibb.co/0BY3syD/Tabular-Data-explain-1.png" width="500"/>


- í–‰ (Row): ë°ì´í„° í…Œì´ë¸”ì—ì„œ ê°€ë¡œ ë°©í–¥ì˜ ë°ì´í„° ì§‘í•©. í•˜ë‚˜ì˜ í–‰ì€ íŠ¹ì • `ë ˆì½”ë“œ`.

- ì—´ (Column): ë°ì´í„° í…Œì´ë¸”ì—ì„œ ì„¸ë¡œ ë°©í–¥ì˜ ë°ì´í„° ì§‘í•©. í•˜ë‚˜ì˜ ì—´ì€ íŠ¹ì • `ì†ì„±`.

- ê°’ (Value): `í–‰ê³¼ ì—´ì´ êµì°¨`í•˜ëŠ” ì§€ì ì— ìœ„ì¹˜í•œ ê°œë³„ ë°ì´í„°.

- ì¸ë±ìŠ¤ (Index): `í–‰ì„ êµ¬ë³„`í•˜ëŠ” ë° ì‚¬ìš©ë˜ëŠ” ê³ ìœ í•œ ì‹ë³„ì.

In [ ]:
#  .shape: í–‰, ì—´ ìˆ˜ í‘œì‹œ.
#  .columns: ì—´ ì´ë¦„ ë‚˜ì—´.
#  .values: ë°ì´í„°ë¥¼ ë°°ì—´ë¡œ ë°˜í™˜.
#  .index: í–‰ ì¸ë±ìŠ¤ ë°˜í™˜.

## Data Type

1. **Categorical Data (ë²”ì£¼í˜• ë°ì´í„°):** ì œí•œëœ ìˆ˜ì˜ `ë²”ì£¼`ë¡œ ë‚˜ëˆŒ ìˆ˜ ìˆëŠ” ë°ì´í„°. ì˜ˆì‹œë¡œëŠ” ì„±ë³„, í˜ˆì•¡í˜•, í•™ë…„ì´ ìˆìŒ
    
2. **Numeric Data (ìˆ˜ì¹˜ ë°ì´í„°):** ìˆ˜ì¹˜ë¡œ í‘œí˜„ë˜ë©° `ê³„ì‚°ì´ ê°€ëŠ¥`í•œ ë°ì´í„°.
    
    - **Binary Data (ì´ì§„ ë°ì´í„°):** `'0'ê³¼ '1'ë¡œë§Œ` êµ¬ì„±ëœ ë°ì´í„°. ì˜ˆì‹œë¡œëŠ” í•©ê²© ì—¬ë¶€, ë¬¼í’ˆ êµ¬ë§¤ ì—¬ë¶€ ë“±ì´ ìˆìŒ, ì´ëŠ” ê²½ìš°ì— ë”°ë¼ ë²”ì£¼í˜• ë°ì´í„°ë¡œë„ ë¶„ë¥˜.
    - **Ratio Data (ë¹„ìœ¨ ë°ì´í„°):** ê°’ë“¤ ì‚¬ì´ì˜ `ë¹„ìœ¨ ë¹„êµ`ê°€ ê°€ëŠ¥í•œ ë°ì´í„°. ì˜ˆì‹œë¡œëŠ” í‚¤, ëª¸ë¬´ê²Œ, ê°€ê²©

In [6]:
# realistic_binary_data.csv
import pandas as pd
df = pd.read_csv('./realistic_binary_data.csv')
df

   CustomerID  Purchased
0           1          1
1           2          1
2           3          1
3           4          0
4           5          1
5           6          1
6           7          1
7           8          0
8           9          0
9          10          1

# Exercise
- ì¼ì‹œì •ì§€ í›„ ìŠ¤ìŠ¤ë¡œ ë¬¸ì œë¥¼ í’€ì–´ë³´ê³  ê°•ì˜ë¥¼ ìˆ˜ê°•í•´ ì£¼ì„¸ìš”

1. pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ í™œìš©í•˜ì—¬ titanic.csv íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”

In [7]:
import pandas as pd
df = pd.read_csv('./titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

---
-  ğŸ”’ ì €ì‘ê¶Œ ë° ì‚¬ìš© ì¡°ê±´ (ì¤‘ìš”)
  - **ì €ì‘ê¶Œ ë³´í˜¸**: ì´ ê°•ì˜ ë…¸íŠ¸ëŠ” ì €ì‘ê¶Œë²•ì— ì˜í•´ ì—„ê²©íˆ ë³´í˜¸ë©ë‹ˆë‹¤.
  - **ë¬´ë‹¨ ì‚¬ìš© ê¸ˆì§€**: ì–´ë– í•œ í˜•íƒœë¡œë“  ìƒì—…ì  ì‚¬ìš©ì´ ì—„ê²©íˆ ê¸ˆì§€ë©ë‹ˆë‹¤.
  - **ê°œì¸ìš©ë„ í•œì •**: ì´ ìë£ŒëŠ” êµìœ¡ ëª©ì ìœ¼ë¡œë§Œ ì‚¬ìš©ì´ í—ˆê°€ë˜ë©°, ê°œì¸ì ì¸ í•™ìŠµ ì™¸ì˜ ëª©ì ìœ¼ë¡œ ì‚¬ìš©í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.
  - **ìœ„ë°˜ ì‹œ ì¡°ì¹˜**: ì €ì‘ê¶Œë²• ìœ„ë°˜ ì‹œ ë²•ì  ì¡°ì¹˜ê°€ ì·¨í•´ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
---

<img src="https://i.ibb.co/sFcTVM4/DALL-E-2023-12-28-17-48-36-Create-a-logo-using-the-simplified-design-featuring-a-sprout-and-an-upwar.png" width="100"/>