<img src="https://i.ibb.co/sFcTVM4/DALL-E-2023-12-28-17-48-36-Create-a-logo-using-the-simplified-design-featuring-a-sprout-and-an-upwar.png" width="100"/>

---
-  ê°•ì˜ ë° ì¶”ê°€ ìë£Œ ë§í¬
- ê°•ì˜ ë§í¬: [Python ê°•ì˜](#)

-  ì†Œì…œ ë¯¸ë””ì–´ ë° ì—°ë½ì²˜
  - ì €ì SNS: [instagram](https://www.instagram.com/ringo_data/?igsh=MTlrdW4xMzZvNTBtdw%3D%3D), [LinkedIn](https://www.linkedin.com/in/ringokwon/)
  - ì´ë©”ì¼: ringo.data1@gmail.com

---

# Dictionary

```python
my_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3'
}
```

In [3]:
# value ì— list í™œìš©
my_dict = {
    'key1': [1, 2, 3],
    'key2': 'value2',
    'key3': 'value3'
}
my_dict['key1']

[1, 2, 3]

In [5]:
# DataFrame ìœ¼ë¡œ ë³€ê²½
import pandas as pd
df = pd.DataFrame(my_dict)
df

   key1    key2    key3
0     1  value2  value3
1     2  value2  value3
2     3  value2  value3

# DataFrame ì¡°ì‚¬


- head(): ì²˜ìŒ 5ì¤„ ë³´ì—¬ì¤Œ.
- tail(): ë§ˆì§€ë§‰ 5ì¤„ ë³´ì—¬ì¤Œ.
- info(): ì—´ ì •ë³´, ë°ì´í„° íƒ€ì… ìš”ì•½.
- describe(): ìˆ«ìí˜• ì—´ í†µê³„ ìš”ì•½.

In [7]:
# seaborn ìœ¼ë¡œ ë°ì´í‹° ê°€ì ¸ì˜¤ê¸°
# https://github.com/mwaskom/seaborn-data
import seaborn as sns
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Exercise
- ì¼ì‹œì •ì§€ í›„ ìŠ¤ìŠ¤ë¡œ ë¬¸ì œë¥¼ í’€ì–´ë³´ê³  ê°•ì˜ë¥¼ ìˆ˜ê°•í•´ ì£¼ì„¸ìš”

1. titanic ë°ì´í„°ë¥¼ snsë¡œ ë¶ˆëŸ¬ì˜¤ê³  ìƒìœ„ 25% age ë¥¼ ì°¾ìœ¼ì‹œì˜¤

In [11]:
import seaborn as sns
df = sns.load_dataset('titanic')
df.describe()

## result : 20.125

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

---
-  ğŸ”’ ì €ì‘ê¶Œ ë° ì‚¬ìš© ì¡°ê±´ (ì¤‘ìš”)
  - **ì €ì‘ê¶Œ ë³´í˜¸**: ì´ ê°•ì˜ ë…¸íŠ¸ëŠ” ì €ì‘ê¶Œë²•ì— ì˜í•´ ì—„ê²©íˆ ë³´í˜¸ë©ë‹ˆë‹¤.
  - **ë¬´ë‹¨ ì‚¬ìš© ê¸ˆì§€**: ì–´ë– í•œ í˜•íƒœë¡œë“  ìƒì—…ì  ì‚¬ìš©ì´ ì—„ê²©íˆ ê¸ˆì§€ë©ë‹ˆë‹¤.
  - **ê°œì¸ìš©ë„ í•œì •**: ì´ ìë£ŒëŠ” êµìœ¡ ëª©ì ìœ¼ë¡œë§Œ ì‚¬ìš©ì´ í—ˆê°€ë˜ë©°, ê°œì¸ì ì¸ í•™ìŠµ ì™¸ì˜ ëª©ì ìœ¼ë¡œ ì‚¬ìš©í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.
  - **ìœ„ë°˜ ì‹œ ì¡°ì¹˜**: ì €ì‘ê¶Œë²• ìœ„ë°˜ ì‹œ ë²•ì  ì¡°ì¹˜ê°€ ì·¨í•´ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
---

<img src="https://i.ibb.co/sFcTVM4/DALL-E-2023-12-28-17-48-36-Create-a-logo-using-the-simplified-design-featuring-a-sprout-and-an-upwar.png" width="100"/>