<img src="https://i.ibb.co/1MPXBQZ/ringodata-banner-v2.jpg" width="200"/>


---
-  ê°•ì˜ ë° ì¶”ê°€ ìë£Œ ë§í¬
- ê°•ì˜ ë§í¬: [Python ê°•ì˜](#)

-  ì†Œì…œ ë¯¸ë””ì–´ ë° ì—°ë½ì²˜
  - ì €ì SNS: [instagram](https://www.instagram.com/ringo_data/?igsh=MTlrdW4xMzZvNTBtdw%3D%3D), [LinkedIn](https://www.linkedin.com/in/ringokwon/)
  - ì´ë©”ì¼: ringo.data1@gmail.com

---

## Datetime
python ê¸°ë³¸ë‚´ì¥ëª¨ë“ˆ
- [ì°¸ê³ ë¸”ë¡œê·¸](https://velog.io/@mquat/python-%EA%B8%B0%EC%B4%88-strptime-strftime)

- __strftime__ : str from time ìœ¼ë¡œ ì´í•´í•´ì„œ, ë‚ ì§œì™€ ì‹œê°„(datetime)ì„ ë¬¸ìì—´ë¡œ ì¶œë ¥
- __strptime__ : strì„ datetimeìœ¼ë¡œ ë³€í™˜

# to_datetime
- ì‹œê°„ ê´€ë ¨ ë°ì´í„°ë¥¼ Pythonì˜ datetime ê°ì²´ë¡œ ë³€í™˜
- ë‹¤ì–‘í•œ í˜•íƒœì˜ ë‚ ì§œ ë° ì‹œê°„ ë°ì´í„°ë¥¼ ì²˜ë¦¬í•  ìˆ˜ ìˆìŒ
```python
pd.to_datetime(df['col'])
pd.datetime.strptime(df['col'], "%Y%m%d%H%M")  # datetime í¬ë§·ì—ì„œ ì›í•˜ëŠ” í˜•íƒœ strìœ¼ë¡œ ë³€í™˜
```

In [10]:
import pandas as pd

df = pd.read_csv('taxis.csv')
df.head(2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

In [19]:
df['pickup'] = pd.to_datetime(df.pickup)
df.head(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(7)
memory usage: 703.7+ KB

# to_period
- ë‚ ì§œ/ì‹œê°„ ë°ì´í„°ë¥¼ ì£¼ì–´ì§„ ì£¼ê¸°('M', 'W', 'Y' ë“±)ë¡œ ë³€í™˜
```python
 df['col'].dt.to_period('period').dt.strftime('%Y-%m-%d')
# to_period('period') : Daily(D), Weekly(W), Monthly(M), Yearly(Y) ë“± ì£¼ê¸°ë¡œ ë‚˜íƒ€ëƒ„
# dt.strftime('%Y-%m-%d') : 'YYYY-MM-DD' í˜•íƒœë¡œ í‘œì‹œí•¨
 ```
 [python string format doc](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [35]:
print(df.pickup.dt.to_period('W')[0])
# df.dropoff.dt.to_period í•˜ë©´ ì˜¤ë¥˜ë‚¨. datetime dtypeì´ ì•„ë‹ˆë¼ì„œ.

# ì£¼ì˜ ë§ˆì§€ë§‰ ë‚ ì§œë¡œ í‘œì‹œë¨
df['pickup_w'] = df.pickup.dt.to_period('W').dt.strftime("%Y-%m-%d")

# ì£¼ì˜ ì‹œì‘ ë‚ ì§œë¡œ í‘œì‹œë¨
df['pickup_w'] = df.pickup.dt.to_period('W').dt.start_time

df.head(2)

2019-03-18/2019-03-24

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,pickup_w
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,2019-03-18
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2019-03-04

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
 14  pickup_w         6433 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(1), object(7)
memory usage: 754.0+ KB

### parse_dates
- [link](https://rfriend.tistory.com/536)

In [49]:
import pandas as pd

df = pd.read_csv('taxis.csv',
                 parse_dates=['pickup', 'dropoff'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [53]:
import pandas as pd
from datetime import datetime

dt_parser = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

df = pd.read_csv('taxis.csv',
                 parse_dates=['pickup', 'dropoff'],
                 date_parser=dt_parser)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

/var/folders/yg/qfgv53pn6w59q5vzqwmxv92w0000gn/T/ipykernel_21741/1145897115.py:6: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv('taxis.csv',

# timedelta
- ë‘ ë‚ ì§œ ë˜ëŠ” ì‹œê°„ ì‚¬ì´ì˜ ì°¨ì´ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ë° ì‚¬ìš©
```python
df['duration'] = (df['end'] - df['start']).dt.total_seconds()
```

In [54]:
df.dropoff - df.pickup

0      0 days 00:06:15
1      0 days 00:07:05
2      0 days 00:07:24
3      0 days 00:25:52
4      0 days 00:09:32
             ...
6428   0 days 00:03:34
6429   0 days 00:56:23
6430   0 days 00:19:07
6431   0 days 00:05:04
6432   0 days 00:16:40
Length: 6433, dtype: timedelta64[ns]

In [57]:
df["min_duration_incar"] = (df.dropoff - df.pickup).dt.total_seconds()//60
df.head(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,min_duration_incar
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,6.0
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,7.0

# Exercise
- ì¼ì‹œì •ì§€ í›„ ìŠ¤ìŠ¤ë¡œ ë¬¸ì œë¥¼ í’€ì–´ë³´ê³  ê°•ì˜ë¥¼ ìˆ˜ê°•í•´ ì£¼ì„¸ìš”
```python
# ë°ì´í„°í”„ë ˆì„ ìƒì„±ì„ ìœ„í•œ ë”•ì…”ë„ˆë¦¬
data = {
    'start': ['2021-01-01 10:00', '2021-01-02 11:30', '2021-01-03 09:45', '2021-01-04 15:00', '2021-01-05 18:20'],
    'end': ['2021-01-01 15:30', '2021-01-02 01:00', '2021-01-04 10:15', '2021-01-05 15:30', '2021-08-05 18:50']
}
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df = pd.DataFrame(data)
df.info()
```

start ì—´ê³¼ end ì—´ì´ ìˆëŠ” DataFrame dfê°€ ì£¼ì–´ì§‘ë‹ˆë‹¤.
1. for ë£¨í”„ë¥¼ ì‚¬ìš©í•˜ì—¬ DataFrameì˜ 'start' ì—´ê³¼ 'end' ì—´ì„ datetime ìœ í˜•ìœ¼ë¡œ ë³€í™˜í•˜ì‹­ì‹œì˜¤.
2. startì—ì„œ endê¹Œì§€ì˜ ì‹œê°„ ì°¨ì´ë¥¼ ì‹œê°„ ë‹¨ìœ„ë¡œ ê³„ì‚°í•˜ì‹­ì‹œì˜¤. ì‹œê°„ ì´í•˜ ë‹¨ìœ„ì˜ ì°¨ì´ëŠ” ì†Œìˆ˜ì ìœ¼ë¡œ í‘œì‹œí•˜ì‹­ì‹œì˜¤.
3. 'end' ì—´ì˜ ë‚ ì§œë“¤ì„ ì£¼ ë‹¨ìœ„('W')ë¡œ ë³€í™˜í•˜ê³ , ì´ë¥¼ 'yyyy-mm-dd' í˜•íƒœì˜ ë¬¸ìì—´ë¡œ í‘œí˜„í•˜ì‹­ì‹œì˜¤.

In [67]:
# 1. for ë£¨í”„ë¥¼ ì‚¬ìš©í•˜ì—¬ DataFrameì˜ 'start' ì—´ê³¼ 'end' ì—´ì„ datetime ìœ í˜•ìœ¼ë¡œ ë³€í™˜í•˜ì‹­ì‹œì˜¤.

import pandas as pd

data = {
    'start': ['2021-01-01 10:00', '2021-01-02 11:30', '2021-01-03 09:45', '2021-01-04 15:00', '2021-01-05 18:20'],
    'end': ['2021-01-01 15:30', '2021-01-02 01:00', '2021-01-04 10:15', '2021-01-05 15:30', '2021-08-05 18:50']
}
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   5 non-null      object
 1   end     5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [68]:

cols = ['start', 'end']
for col in cols:
    df[col] = pd.to_datetime(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   5 non-null      datetime64[ns]
 1   end     5 non-null      datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 212.0 bytes

In [66]:
# 2. startì—ì„œ endê¹Œì§€ì˜ ì‹œê°„ ì°¨ì´ë¥¼ ì‹œê°„ ë‹¨ìœ„ë¡œ ê³„ì‚°í•˜ì‹­ì‹œì˜¤. ì‹œê°„ ì´í•˜ ë‹¨ìœ„ì˜ ì°¨ì´ëŠ” ì†Œìˆ˜ì ìœ¼ë¡œ í‘œì‹œí•˜ì‹­ì‹œì˜¤.

(df.end - df.start).dt.total_seconds()/3600

0       5.5
1     -10.5
2      24.5
3      24.5
4    5088.5
dtype: float64

In [74]:
# 3. 'end' ì—´ì˜ ë‚ ì§œë“¤ì„ ì£¼ ë‹¨ìœ„('W')ë¡œ ë³€í™˜í•˜ê³ , ì´ë¥¼ 'yyyy-mm-dd' í˜•íƒœì˜ ë¬¸ìì—´ë¡œ í‘œí˜„í•˜ì‹­ì‹œì˜¤.

# df.end.dt.to_period('W').dt.strftime('%Y-%m-%d')
df.end.dt.to_period('W').dt.start_time

0   2020-12-28
1   2020-12-28
2   2021-01-04
3   2021-01-04
4   2021-08-02
Name: end, dtype: datetime64[ns]

In [73]:
df.head(2)

                start                 end
0 2021-01-01 10:00:00 2021-01-01 15:30:00
1 2021-01-02 11:30:00 2021-01-02 01:00:00

---
-  ğŸ”’ ì €ì‘ê¶Œ ë° ì‚¬ìš© ì¡°ê±´ (ì¤‘ìš”)
  - **ì €ì‘ê¶Œ ë³´í˜¸**: ì´ ê°•ì˜ ë…¸íŠ¸ëŠ” ì €ì‘ê¶Œë²•ì— ì˜í•´ ì—„ê²©íˆ ë³´í˜¸ë©ë‹ˆë‹¤.
  - **ë¬´ë‹¨ ì‚¬ìš© ê¸ˆì§€**: ì–´ë– í•œ í˜•íƒœë¡œë“  ìƒì—…ì  ì‚¬ìš©ì´ ì—„ê²©íˆ ê¸ˆì§€ë©ë‹ˆë‹¤.
  - **ê°œì¸ìš©ë„ í•œì •**: ì´ ìë£ŒëŠ” êµìœ¡ ëª©ì ìœ¼ë¡œë§Œ ì‚¬ìš©ì´ í—ˆê°€ë˜ë©°, ê°œì¸ì ì¸ í•™ìŠµ ì™¸ì˜ ëª©ì ìœ¼ë¡œ ì‚¬ìš©í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.
  - **ìœ„ë°˜ ì‹œ ì¡°ì¹˜**: ì €ì‘ê¶Œë²• ìœ„ë°˜ ì‹œ ë²•ì  ì¡°ì¹˜ê°€ ì·¨í•´ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
---

<img src="https://i.ibb.co/1MPXBQZ/ringodata-banner-v2.jpg" width="200"/>